body {
    height: 100%;
    margin: 0px;
    overflow-x:hidden;
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    font-family: "Unbounded","TT NORMS PRO","Trebuchet MS",sans-serif;

  }
  
section {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .motionbody{
    background-color: #e4e4e4;
    height: 3000px;
    width: 100%;
    position: relative;
  }

  .bg-screen
  {
    position:absolute;
    z-index:0;
    overflow:hidden;
    height: auto;
  }
  
  .head
  {
    width: 75%;
    height: 14%;
    background-color: #D9D9D9;
    position: absolute;
    z-index: 90;
    margin-top: 20px;
    left: 50%;
    top: 8%;
    transform: translate(-50%,-50%);
    border-radius: 66px;
  }
  
  .ave
  {
    width: 7%;
    height: 70%;
    position: absolute;
    background-color: #EF7C7C;
    left: 10%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 90px;
    
  }
  
  ul 
  {
    list-style-type: none;
  
  }
  

/* main */
header {
    height: 360px;
    z-index: 9999;
    font-weight: 400;
    font-family: "Unbounded","TT NORMS PRO","Trebuchet MS",sans-serif;
}
.header-banner {
    background-color: #333;
    background-image: url('https://telegra.ph/file/f976876646322ac4b81c5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}



.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    z-index: 9999;
    position: relative;
    overflow: hidden;

}

/*nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 2%;
    visibility: visible;
}*/
div#site-title {
    color: white;
    display: inline-block;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: -180px;  /*2%*/
    visibility: visible;
    width: 100px;
    height: 60px;
    background: #292f36;
    z-index: 9999;
    

    -moz-transition: all 300ms;
	  -webkit-transition: all 300ms;
	  transition: all 300ms;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
    visibility: visible;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    color: #93C2D2;
    text-decoration: none;
    font-weight: 800;
}

.con {
background-color: #EF7C7C;
width: 100%;
height: 100%;
position: relative;
padding-top: 100px;



}

.obj1 {
    background-color: aqua;
    position: relative;
    width: 80%;
    height: 10%;
    margin-bottom: 100px ;
    left: 50%;
    transform: translate(-50%, 0%);
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "left right";
    column-gap: 10%;

        
}












/*
  Menu
  .border-plus{
    background-color: #59e9df;
    width: 100px;
    height: 100%;
    position: fixed;
  }
  */

div#slide-menu {
	position: fixed;
	top: 60px;
	right: -300px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 330px;
	height: 100%;
  z-index: 0;
  
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
div#slide-menu ul {
display: block;
margin: 40px;
padding: 0;
list-style: none;
opacity: 0.5;


-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}

div#slide-menu ul li {
  color: #b42d2d;
  padding: 6px 0;
  cursor: pointer;
  
  &:hover { color: #e25226; }
  
  
}

div#slide-menu ul li a{
  color: #b42d2d;
  text-decoration: none;
  
  &:hover { color: #e25226; }
}

div#slide-menu ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

div#slide-menu ul li.sep { 
  margin-top: 7px; 
  padding-top: 14px; 
  border-top: 1px solid #0d82ff; 
  width: 180px;    
}

div#slide-menu ul li.timeline:before { content: ''; }
div#slide-menu ul li.events:before { content: ''; }
div#slide-menu ul li.calendar:before { content: ''; }
div#slide-menu ul li.settings:before { content: ''; }
div#slide-menu ul li.logout:before { content: ''; }




body.menu-active div#slide-menu { right: -100px; }
header.header-open div#site-title { left: 20px; }
header.header-open div.menu-trigger { right: 10px; }
header.header-open div.sh1 { width: 100px; }
header.header-open div.sh2 { width: 80px; }
header.header-open div.sh3 { width: 125px; }
body.menu-active div#slide-menu ul { right: 0px; opacity: 1; }

/*
  Content
*/


div#content {
	position: relative;
	top: 0;
  right: 0;
	width: 100%;
	height: 3000px;
	padding: 0px;
	background: #fcfeff;
	border-radius: 0;
  padding-top: 100px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-box-shadow: -3px 0 6px darken(#556270, 5%);
	-webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
	box-shadow: -3px 0 6px darken(#556270, 5%);

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
  
}

div#sh{
  background: #292f36;
  z-index: 9998;
  position: absolute;
  
  
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.sh1{
  width: 0px;
  height: 60px;
  right: 0;
}
.sh2{
  width: 0px;
  height: 60px;
  right: 97px;
}
.sh3{
  width: 0px;
  height: 60px;
  right: 174px;
}

.menu-trigger {
  position: absolute;
  top: 10px;
  left: auto;
  right: -50px;
  width: 36px;
  height: 36px;
  background: #dfe5eb;
  cursor: pointer;
  border-radius: 5px;
  visibility: visible;
  z-index: 9999;
  
  
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  &:before { 
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    color: black;
    font-family: "ico";
    font-style: normal;
    font-size: 1.2em;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    line-height: 36px;
  }

  &:hover { background: #556270; &:before { color: #fcfeff; } }
}
body.menu-active div#content { right: 200px; border-radius: 0px; }
body.menu-active div#content .menu-trigger { right: 384px; }
