@font-face {
  font-family: RodeoC;
  src: url(./fonts/Rodeoc.ttf);
}

body{
  background-color: #3a3a3a;
  font-family: RodeoC;
  font-weight: 100;
  color: #ffffff;
  /* background-color: var(--tg-theme-bg-color); */
}


svg{
  stroke: #ffffff;
  /* stroke: var(--tg-theme-text-color); */
}