.header{
    background-color: #656565;
    /* background-color: var(--tg-theme-header-bg-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px;
}

.header > *{
    margin: 0;
}
.header > p{
    justify-self: center;
}